body {
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
}

#messageContainer {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

